<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" ng-app="secondRankingMethodApp">
<head th:include="layout :: headerFragment"></head>
<body>

<div th:fragment="topNavBarFragment" class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Методы ранжирования</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar">индивидуальное (второй метод)</span>
                <span class="icon-bar">метод Борда</span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li><a href="/second/form">индивидуальное (второй метод)<span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="/second/interactive/form">индивидуальное (второй метод) - интерактивный</a></li>
                <li><a href="/bord/form">метод Борда</a></li>
            </ul>
        </div>
    </div>
</div>

<script th:src="@{/bower_components/angular/angular.min.js}"></script>
<script th:src="@{/bower_components/angular-route/angular-route.min.js}"></script>
</body>
</html>